*.DS_Store
**/__pycache__
*.gitattributes
**/.idea
**/.ipynb_checkpoints
**.zip
**/DockerTest

_site
.sass-cache
.jekyll-cache
.jekyll-metadata

*.lock 

_cv
**/_cv/**
_cv/*
_cv/2020/NULL/ZZRubbish/PhD_UiT/interview/Presentation1.pptx
